.fa-solid, .fas {
    font-weight: 900;
}
.h-icon1 {
    color: #3fb09d;
    font-size: 31px;
    margin-left: 42px;
    margin-top: 18px;
}
.h-p1{
    text-align: center;
    color: #3fb09d;
}
.cate-card{
    border-radius: 9px;
    box-shadow: 3px 3px 10px 3px #ddd;
    cursor: pointer;
}