.section-header {
  color: #3fb09d;
  font-size: 30px;
  font-weight: 600;
  margin-left: 8%;
}

.slick-prev:before, .slick-next:before{
  color: red!important;
}

.slick-slide {
  padding: 20px;
}
.addtocart {
  cursor: pointer;
  margin-left: 48px;
  width: 20%;
}
.cart-icon {
  background-color: rgba(63,176,157,.5);
  border: 1px solid teal;
  border-radius: 20px;
  color: #000;
  font-size: 20px;
  padding: 4px;
}
.live-btn {
  font-size: 13px;
  /* margin: 10% auto auto; */
  padding: 5px 10px;
  background-color: rgba(63,176,157,.5);
    border: 2px solid #3fb09d;
}
.buy-btn{
  font-size: 13px;
  padding: 5px 10px;
  background-color: rgba(238,130,238,.5);
  border: 2px solid violet;
  margin-top: 10px;
}
.card-anchor {
  color: #000;
  font-size: 11px;
  text-decoration: none;
}

